apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ai-quickstart-template.fullname" . }}-secret
  labels:
    {{- include "ai-quickstart-template.labels" . | nindent 4 }}
type: Opaque
data:
  # Database environment variables
  POSTGRES_DB: {{ .Values.secrets.POSTGRES_DB | toString | b64enc | quote }}
  POSTGRES_USER: {{ .Values.secrets.POSTGRES_USER | toString | b64enc | quote }}
  POSTGRES_PASSWORD: {{ .Values.secrets.POSTGRES_PASSWORD | toString | b64enc | quote }}

  # API environment variables
  DATABASE_URL: {{ .Values.secrets.DATABASE_URL | toString | b64enc | quote }}
  DEBUG: {{ .Values.secrets.DEBUG | toString | b64enc | quote }}
  ALLOWED_HOSTS: {{ .Values.secrets.ALLOWED_HOSTS | toString | b64enc | quote }}

  # UI environment variables
  VITE_API_BASE_URL: {{ .Values.secrets.VITE_API_BASE_URL | toString | b64enc | quote }}
  VITE_ENVIRONMENT: {{ .Values.secrets.VITE_ENVIRONMENT | toString | b64enc | quote }}
