{{- if .Values.ui.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.ui.name }}
  labels:
    {{- include "ai-quickstart-template.ui.labels" . | nindent 4 }}
spec:
  type: {{ .Values.ui.service.type }}
  ports:
    - port: {{ .Values.ui.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "ai-quickstart-template.ui.selectorLabels" . | nindent 4 }}
{{- end }}
